<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <span class="logo">Elezthem</span>
        <nav>
            <a href="/about">О нас</a>
            <a href="/blog">Влог</a>
        </nav>
    </header>
    <main>
        <h1>Главная страница</h1>
        <div>
            <p>Полученные данные:</p>
            <p>Name: <b><%= name %></b></p>
            <p>ID: <b><%= id %></b></p>
        </div>
    </main>
    <aside>
        <h2>Информация</h2>
        <p>Zaa4eem 4ydick</p>
    </aside>
    <footer>Все права защищены &copy;</footer>
</body>
</html>